.wrapper {
  width: 74%;
}

.tea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: max-content;
}
.teaCard {
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.CardEnter {
  opacity: 0;
}

.CardEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.CardExit {
  opacity: 0;
}

.CardExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
