@use "../../../App.scss" as App;
@import "../../../App.scss";

.wrapper {
  @include wrapper-1170px;
}
.inputEnter {
  opacity: 0;
}

.inputEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.inputExit {
  opacity: 0;
}

.inputExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
