@use "../../../App.scss" as App;
@import "../../../App.scss";

.wrapper {
  @include wrapper-1170px;
}
.inputEnter {
  opacity: 0;
}

.inputEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.inputExit {
  opacity: 0;
}

.inputExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accountBody {
  display: flex;
  justify-content: space-between;
}
.accountPanel {
  padding: 20px;
  width: 20%;
}
.accountPanelLink {
  display: flex;
  align-items: center;
  margin-top: 10px;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.3s ease;
  color: App.$blackButtonColor;
}
.accountPanel li {
  cursor: pointer;
}
.liActive {
  font-weight: 700;
}
.accountPanelLink:hover {
  color: App.$greyButtonColor;
}

.accountPanelLink img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.accountPanelLine {
  border-top: 1px App.$greyButtonColor;
  margin-top: 15px;
}
.accountPageHeader {
  @include nameh3;
  margin-bottom: 20px;
}
.accountBodyContent {
  width: 75%;
  margin-bottom: 50px;
}
////////////////////////////////////// personal-info

.infoBlockItems {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.infoBlockText {
  margin-left: 15px;
}
.infoBlock img {
  max-width: 25px;
  max-height: 25px;
}
.infoBlockTag {
  opacity: 0.6;
  font-size: 14px;
}
.imgPen {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  cursor: pointer;
}

///////////////////////////favoriteTea

.favoriteTea {
  margin-bottom: 20px;
}

.textEnter {
  opacity: 0;
}

.textEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.textExit {
  opacity: 0;
}

.textExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
