@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.loading {
  @include loading;
}
.loaderWrapper {
  @include loaderWrapper;
  width: 100%;
  flex-grow: 1;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.paginateButton {
  @include priceStyle;
  background-color: App.$greyButtonColor;
  border: 1px solid App.$greyButtonColor;
  margin: 2px;
  padding: 7px 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.paginateButton:hover {
  background-color: white;
  border: 1px solid App.$greyButtonColor;
  color: App.$greyButtonColor;
}

.paginateArrowButtonLeft {
  @include arrowButton;
  background-image: url("../../../../../public/images/icons/icon-arrowPaginateLeftWhite.png");
}

.paginateArrowButtonLeft:hover {
  background-image: url("../../../../../public/images/icons/icon-arrowPaginateLeftBrown.png");
  background-color: white;
  border: 1px solid App.$greyButtonColor;
  color: App.$greyButtonColor;
}

.paginateArrowButtonRight {
  @include arrowButton;
  background-image: url("../../../../../public/images/icons/icon-arrowPaginateRightWhite.png");
}

.paginateArrowButtonRight:hover {
  background-image: url("../../../../../public/images/icons/icon-arrowPaginateRightBrown.png");
  background-color: white;
  border: 1px solid App.$greyButtonColor;
  color: App.$greyButtonColor;
}

.notActiveButton {
  display: none;
}

.paginateActiveButton {
  @include priceStyle;
  background-color: white;
  border: 1px solid App.$greyButtonColor;
  margin: 2px;
  padding: 7px 12px;
  color: App.$greyButtonColor;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.teasEnter {
  opacity: 0;
}

.teasEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.teasExit {
  opacity: 0;
}

.teasExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

// EmptyTeaList !!!!!!!!!!!!!!!!!!!!!!!!!!!!

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.emptyWrapper img {
  width: 250px;
}
.emptyWrapper p {
  margin-top: 30px;
  color: App.$priceColor;
}
.emptyWrapper button {
  font-size: 15px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: App.$greyButtonColor;
  transition: color 0.3s ease;
}
.emptyWrapper button:hover {
  color: App.$greenButtonColor;
}
