@use "../../../App.scss" as App;
@import "../../../App.scss";
.panelButtons {
  position: fixed;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.panelButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.panelButton {
  margin-top: 2px;
  background-color: App.$greyButtonColor;
  width: 68px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
}
.panelButtonActive {
  margin-top: 2px;
  background-color: App.$greyButtonColor;
  width: 68px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
}
.panelButtonActive:hover {
  width: 80px;
}

.panelButtonCardImg {
  margin-right: 5px;
}
.panelButtonUserImg {
  width: 40px;
}
.buttonName {
  margin-top: 2px;
  height: 60px;
  width: 80px;
  background-color: #191e2d;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.buttonName p {
  font-size: 14px;
  font-weight: 500;
  font-family: App.$QuestrialFont;
}

.buttonNameEnter {
  opacity: 0;
}

.buttonNameEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.buttonNameExit {
  opacity: 1;
}

.buttonNameExitActive {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
