@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.wrapper {
  @include wrapper-1170px;
  padding: 0;
  margin: 0;
  width: 20%;
}
.sticky {
  position: sticky;
  top: 150px;
}

.horizontal-slider {
  height: 30px;
}
