@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.wrapper {
  @include wrapper-1170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.wrapper h4 {
  @include brownh4;
}
.wrapper h1 {
  @include blackh1;
}

.verticalCards {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.teaCard {
  width: 20%;
  height: max-content;
  background-color: App.$greyBackgroundColor;
  padding: 20px;
  padding-bottom: 50px;
}
.teaCard img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.teaCardLink {
  text-decoration: none;
  @include nameh3;
  width: max-content;
}
