.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.gridButtonColumn img {
  width: 24px;
  height: 25px;
  cursor: pointer;
}

.gridButtonRow img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 10px;
}
