@use "../../../App.scss" as App;
@import "../../../App.scss";

.wrapper {
  @include wrapper-1170px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.content {
  width: 30%;
  margin-top: -30px;
}
.content h4 {
  @include nameh3;
  margin-top: 30px;
  margin-bottom: 5px;
}
.content a {
  text-decoration: none;
  color: App.$blackButtonColor;
  transition: opacity 0.3s ease;
}
.content a:hover {
  opacity: 0.7;
}
.row {
  display: flex;
  align-items: center;
}
.row p {
  margin-left: 5px;
}
.map {
  width: 70%;
}

// input
.formQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.formQuestion h1 {
  @include blackh1;
}
.formQuestion h2 {
  @include brownh4;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  max-width: 400px;
}
.authInput {
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid App.$greyBackgroundColor;
  transition: border-bottom 0.3s ease;
}

.authInputError {
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid App.$redColor;
  transition: border-bottom 0.3s ease;
}

.authInput:focus {
  border-bottom: 1px solid App.$greenButtonColor;
}

.authInput:hover {
  border-bottom: 1px solid App.$greyButtonColor;
}
.authInput::placeholder {
  font-size: 12px;
  font-family: App.$OpenSansFont;
}
.textInput {
  border: 1px solid App.$greyBackgroundColor;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  resize: vertical;
  max-height: 300px;
  min-height: 40px;
  transition: border 0.3s ease;
}
.textInput:hover {
  border: 1px solid App.$greyButtonColor;
}
.textInput:focus {
  border: 1px solid App.$greenButtonColor;
}
.textInput::placeholder {
  font-family: App.$OpenSansFont;
  font-size: 12px;
}
.submitInput {
  margin-top: 30px;
  border: 2px solid App.$greyButtonColor;
  border-color: App.$greyButtonColor;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 600;
  font-family: App.$OpenSansFont;
  text-decoration: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  height: max-content;
  width: max-content;
  background-color: App.$greyButtonColor;
  letter-spacing: 0.05em;
  color: white;
  font-size: 20px;
}
.submitInput:hover {
  background-color: white;
  border: 2px solid App.$greenButtonColor;
  color: App.$greenButtonColor;
}
