@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.verticalCard {
  background-color: App.$greyBackgroundColor;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  margin-bottom: 20px;
  height: max-content;
  max-width: 200px;
}
.verticalCard img {
  max-width: 200px;
  border-radius: 50%;
}
.verticalCard h3 {
  @include nameh3;
  margin-top: 30px;
  font-size: 22px;
}
.verticalCard p {
  @include priceStyle;
  margin-top: 20px;
  margin-bottom: 20px;
}
