@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.verticalCard {
  background-color: App.$greyBackgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 350px;
  max-height: 350px;
  max-width: 200px;
  text-align: center;
}
.verticalCardImg {
  max-height: 200px;
  border-radius: 50%;
}
.verticalCard a {
  @include nameh3;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.verticalCard a:hover {
  color: App.$greyButtonColor;
}
.verticalCard p {
  @include priceStyle;
  margin-bottom: 10px;
}
.price {
  height: 80%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
