@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.verticalCard {
  background-color: App.$greyBackgroundColor;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 30px 30px;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;
  max-height: 350px;
  max-width: 200px;
  text-align: center;
}
.verticalCard img {
  max-height: 200px;
  border-radius: 50%;
}
.verticalCard h3 {
  @include nameh3;
  font-size: 20px;
  padding: 5px;
}
.verticalCard p {
  @include priceStyle;
  margin-top: 20px;
  margin-bottom: 20px;
}
