@use "../../../App.scss" as App;
@import "../../../App.scss";

.inputNumber {
  display: flex;
  align-items: center;
  background: App.$greenButtonColor;
  border: 1px solid #e5e8ee;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  text-align: center;
  width: max-content;
}
.inputNumberInput {
  background: App.$greyBackgroundColor;
  width: 30px;
  height: 15px;
  border: none;
  padding: 8px;
  text-align: center;
  color: App.$greyButtonColor;
}

.inputNumberMinus,
.inputNumberPlus {
  width: 20px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.inputNumberPlusDisabled {
  width: 20px;
  height: 31px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: App.$greyBackgroundColor;
  opacity: 0.6;
  // pointer-events: none;
}
.errorMessage {
  color: App.$redColor;
  font-size: 12px;
  position: absolute;
  text-align: center;
  margin-top: 5px;
}
.textEnter {
  opacity: 0;
}

.textEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.textExit {
  opacity: 0;
}

.textExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
