@use "../../../../App.scss" as App;
@import "../../../../App.scss";
.sliderWrapper {
  margin: 100px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.mainContainer {
  display: flex;
  align-items: center;
}
.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.allItems {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.allItems img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

span {
  cursor: pointer;
}
.dots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.dot {
  margin: 5px;
  margin-top: 10px;
  background-color: App.$greyButtonColor;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.dot.active {
  background-color: App.$greenButtonColor;
}
