@use "../../../App.scss" as App;
@import "../../../App.scss";

.big_wrapper {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 757px;
  transition: all 0.8s ease;
}
.wrapper {
  @include wrapper-1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main_slogan {
  @include whiteh1;
  max-width: 60%;
}
.little_slogan {
  @include whiteh4;
}
