@use "../../../App.scss";
@import "../../../App.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: none;
  z-index: 2;
}
.loaderSpinner {
  border: 5px solid App.$greyButtonColor;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  filter: none;
  z-index: 2;
}

.imageLoader {
  position: absolute;
  top: 0;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

.container {
  background: linear-gradient(
    101.42deg,
    #dfefff -0.04%,
    rgba(223, 239, 255, 0.27) 94.2% rgba(150, 151, 151, 0.27) 94.2%
  );
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
.container::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;

  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.containerLoaded::before {
  animation: none;
}

.image {
  opacity: 0;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.imageLoaded {
  transition: opacity 1s ease;
  opacity: 1;
  width: 100%;
  height: 100%;
}
