@use "../../../App.scss";
@import "../../../App.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: none;
  z-index: 2;
}
.loaderSpinner {
  border: 5px solid App.$greyButtonColor;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  filter: none;
  z-index: 2;
}

.imageLoader {
  position: absolute;
  top: 0;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}
