@use "../../../../App.scss" as App;
@import "../../../../App.scss";

.horizontalCard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: App.$greyBackgroundColor;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 1.5s;
}
.horizontalCard a {
  @include nameh3;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.horizontalCard a:hover {
  color: App.$greyButtonColor;
}
.enabled {
  max-height: 1000px;
  transition: max-height 1.5s;
}

.horizontalCardImg {
  min-width: 225px;
  min-height: 225px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.description {
  padding: 20px;
}
.description h3 {
  @include nameh3;
}
.description p {
  @include priceStyle;
  font-size: 15px;
  margin-top: 20px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visibleBtn {
  background-color: none;
  border: none;
  color: App.$greyButtonColor;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.visibleBtn:hover {
  color: App.$greenButtonColor;
}

.textEnter {
  opacity: 0;
}

.textEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.textExit {
  opacity: 0;
}

.textExitActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
