@use "../../../App.scss" as App;
@import "../../../App.scss";
.loading {
  @include loading;
}
.loaderWrapper {
  @include loaderWrapper;
  width: max-content;
  flex-grow: 1;
}
.wrapper {
  @include wrapper-1170px;
}
.emptyShopCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.emptyShopCart img {
  margin-bottom: 20px;
}

.emptyShopCart a {
  color: App.$greyButtonColor;
  transition: color 0.3s ease;
}
.emptyShopCart p {
  color: App.$priceColor;
}
.emptyShopCart a:hover {
  color: App.$greenButtonColor;
}

.shopCart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.teas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tea {
  display: flex;
  border-top: 2px solid App.$greyButtonColor;
  padding: 20px;
  justify-content: space-between;
  background-color: App.$greyBackgroundColor;
  margin-bottom: 20px;
  align-items: center;
}
.tea img {
  max-width: 120px;
}

.nameAndImg {
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}
.nameAndImg:hover {
  opacity: 0.6;
}
.teaName {
  @include nameh3;
  font-size: 20px;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
}
.price {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.price p {
  @include priceStyle;
  margin-left: 20px;
  font-size: 15px;
}
// send-panel
.sendPanelWrapper {
  display: flex;
  flex-direction: column;
}
.sendPanel {
  border-top: 2px solid App.$greyButtonColor;
  width: 330px;
  padding: 20px;
  background-color: App.$greyBackgroundColor;
  height: max-content;
}
.sendPanel hr {
  border: 1px solid App.$greyButtonColor;
  margin-bottom: 20px;
}
.totalCost {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.totalCost h4 {
  font-size: 20px;
  font-weight: 500;
}

.pay {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay p {
  font-size: 14px;
  opacity: 0.6;
  margin-top: 20px;
}

.clearShopCart {
  color: App.$redColor;
  padding: 10px;
  margin-bottom: 10px;
  width: max-content;
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.clearShopCart:hover {
  color: #cc215a;
}
