* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

$greyButtonColor: #c2b698;
$greenButtonColor: #bcdf00;
$blackButtonColor: #232a34;
$greyBackgroundColor: #efeeed;
$priceColor: #777777;
$redColor: #e52e6b;

$QuestrialFont: "Questrial", sans-serif;
$OpenSansFont: "Open Sans", sans-serif;

@mixin wrapper-1170px {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin whiteh1 {
  margin-top: 250px;
  color: white;
  font-size: 60px;
  font-family: App.$QuestrialFont;
  font-weight: 300;
}

@mixin whiteh4 {
  margin-top: 30px;
  color: white;
  font-size: 20px;
  font-family: App.$QuestrialFont;
  font-weight: 400;
  margin-bottom: 70px;
}

@mixin brownh4 {
  color: App.$greyButtonColor;
  font-family: App.$OpenSansFont;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

@mixin blackh1 {
  color: App.$blackButtonColor;
  font-family: App.$QuestrialFont;
  font-size: 50px;
  font-weight: 300;
  margin-top: 20px;
}

@mixin nameh3 {
  color: App.$blackButtonColor;
  font-family: App.$QuestrialFont;
  font-size: 28px;
  font-weight: 300;
}
@mixin priceStyle {
  font-size: 16px;
  font-family: App.$QuestrialFont;
  color: App.$priceColor;
  font-weight: 300;
}

@mixin greyWrapperUI {
  width: max-content;
  display: flex;
  flex-direction: column;
  background-color: App.$greyBackgroundColor;
  padding: 20px;
}

@mixin arrowButton {
  background-color: App.$greyButtonColor;
  border: 1px solid App.$greyButtonColor;
  margin: 2px;
  cursor: pointer;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  transition: background-color 0.3s ease;
}

// loader

@mixin loading {
  opacity: 0.8;
  position: relative;
  filter: blur(3px);
  z-index: 1;
}

@mixin loaderWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
}
